{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Generate Blog {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Make your Selections!</h5>
                                    </div>
{#                                    <ul class="breadcrumb">#}
{#                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>#}
{#                                        <li class="breadcrumb-item"><a href="javascript:">Chart</a></li>#}
{#                                        <li class="breadcrumb-item"><a href="javascript:">Morris Chart</a></li>#}
{#                                    </ul>#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ Morris Chart ] start -->
{#                                <div class="col-xl-6">#}
{#                                    <div class="card">#}
{#                                        <div class="card-header">#}
{#                                            <h5>Bar [ Simple ] Chart</h5>#}
{#                                        </div>#}
{#                                        <div class="card-block">#}
{#                                            <div id="morris-bar-chart" style="height:300px"></div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                creating my layouts#}
  <hr>
                                        <div class="card-body">
                                            <h5>Blog Definition</h5>
                                            <hr>
                                            <form class="" action="#" method="post">
                                                    {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-10">
                                                            <div class="row">
                                                                <small id="blogidea" class="form-text text-muted">Select blog sections to include in your Blog</small>
                                                                <br>
                                                                <table class="table table-hover">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Select</th>
                                                                        <th>Topic</th>
                                                                    </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="form-check form-switch mb-2">
                                                                                <input class="form-check-input" type="checkbox" name="Introduction" value="Introduction">
                                                                                </div>
                                                                            </td>
                                                                             <td>
                                                                                 <h6 class="mb-1"> Introduction </h6>
                                                                                 <br>
                                                                            </td>
                                                                        </tr>
                                                                            {% for section in blogSections %}
                                                                        <tr>
                                                                            <td>
                                                                                <div class="form-check form-switch mb-2">
                                                                                <input class="form-check-input" type="checkbox" name="{{ section }}">
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                {{ section }}
                                                                            </td>
                                                                        </tr>
                                                                            {% endfor %}
            {#                                                            End of looping#}


                         {#                      This where I add for custom input fields          ////////////////////////////#}


                                                                    </tbody>
                                                                        <tbody id="addTopic">

                                                                              <tr>
                                                                                    <td>
                                                                                        <div class="form-check form-switch mb-2">
                                                                                        </div>
                                                                                    </td>
                                                                                     <td>
{#                                                                                         <input class="form-control" type="text" name="" placeholder="Enter custom topic">#}
                                                                                         <h5 class="m-b-10">Click to Add Subtopics!</h5>
                                                                                         <a href="#" id="add-item-button" class="btn btn-info add-item">Add</a>
                                                                                    </td>
                                                                                </tr>

                                                                              <tr>
                                                                                    <td>
                                                                                        <div class="form-check form-switch mb-2">
                                                                                        <input class="form-check-input" type="checkbox" name="Conclusion" value="Conclusion">
                                                                                        </div>
                                                                                    </td>
                                                                                     <td>

                                                                                         <h6 class="mb-1"> Conclusion </h6>
                                                                                    </td>
                                                                                </tr>
                                                                        </tbody>
                                    {#                      This where the custom input fields end     ////////////////////////////#}

                                                                </table>
                                                            <div>
                                                        </div>
                                                    </div>
                                                         <div class="col-lg-4">
                                                                        <img class="img-fluid" src="{% static 'assets/images/write.svg'%}" alt="Create Blog">
                                                             <br>
                                                              <div class="mt-3">
                                                                  <button type="submit" onclick="myFunction()" class="btn btn-primary btn-block"> GENERATE FULL BLOG</button>
    {#                                                                <button href="{% url 'use-blog-topic' blogTopic %}" type="submit" class="btn btn-primary"> Generate Full Blog </button>#}
    {#                                                         <td><a href="{% url 'view-generated-blog' slug %}"><button class="btn btn-outline-primary"> GENERATE FULL BLOG </button></a></td>#}

                                                              </div>
                                                        </div>
                                                </div>
                                                </div>

                                            </form>

                                        </div>
                                            <hr>

                                <!-- [ Morris Chart ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- chart-morris Js -->
    <script src="{{ ASSETS_ROOT }}/plugins/jquery/js/jquery.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/plugins/chart-morris/js/morris.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/pages/chart-morris-custom.js"></script>

<script>function myFunction() {

      $('#addTopic input').each(function(){
       {#alert(document.getElementById(this.id).value);#}
       document.getElementById(this.id).name = document.getElementById(this.id).value;

    });

}


$(document).ready(function() {
    let cnt = 0;

    $(".add-item").click(function(e) {
        e.preventDefault();
        let id = ++cnt;
        $("#addTopic").prepend(' <tr id="addTopic" >' +
            ' <td>' +
                '<div class="form-check form-switch mb-2"></div>' +
            '</td>' +
            '<td>' +
                '<input class="form-control" id="subtopic' + id + '" name="" type="text" placeholder="Enter custom topic">' +
                '<a href="#" id="add-item-button" class="btn btn-info remove-item">Remove</a>' +
            '</td>' +
            '</tr>')

    });
    $(document).on('click', '.remove-item', function (e){
        e.preventDefault();
        let row_item = $(this).parent().parent();
        $(row_item).remove();
    });

});
</script>

</script>
{% endblock javascripts %}
