{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Edit Info</h5>
                                            </div>

{#                                            <form action="" method="post">#}
{#                                                {% csrf_token %}#}
{#                                                {% crispy form %}#}
{#                                                <button type="submit" value = "submit "class="btn btn-primary">Submit</button>#}

                                     <form class="" action="{% url 'submit-profile' %}" method="post">
                                     {% csrf_token %}
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Username</label>
                                                        <input class="form-control" name ="username "id="exampleInputEmail1" aria-describedby="emailHelp"
                                                               readonly value="{{ request.user.username }}">
                                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label {% if not request.user.email %} class="text-danger" {% endif %}
                                                               for="exampleInputEmail1">Email address</label>
                                                        <input type="email"
                                                               {% if request.user.email %} readonly value="{{ request.user.email }}" {% endif %}
                                                               class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                                        {% if not request.user.email %}
                                                            <small id="emailHelp" class="form-text text-danger">
                                                                You don't have an email address associated with this account.
                                                            </small>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="fn">First Name</label>
                                                        <input type="text"
                                                               {% if user.Profile.firstname %} readonly value="{{ request.user.Profile.firstname }}" {% endif %}
                                                               class="form-control" name=firstname id="fn" aria-describedby="emailHelp">
{#                                                        <input type="text" class="form-control" name=firstname id="fn" aria-describedby="emailHelp" placeholder="Your first name">#}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="ln">Last Name</label>
                                                        <input type="text"
                                                               {% if request.user.Profile.lastname %} readonly value="{{ request.user.Profile.lastname }}" {% endif %}
                                                               class="form-control" name="lastname" id="ln" aria-describedby="emailHelp" placeholder="Your last name">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label for="add">Address</label>
                                                        <input type="text"
                                                               {% if request.user.Profile.address %} readonly value="{{ request.user.Profile.address }}" {% endif %}
                                                               name="address" name="address" class="form-control" id="add" aria-describedby="emailHelp" >
                                                        <small id="addd" class="form-text text-muted">This is your shipments address</small>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label for="abt">About Info</label>
                                                        <textarea type="text"
                                                                  {% if request.user.Profile.aboutinfo %} readonly value="{{ request.user.Profile.aboutinfo }}" {% endif %}
                                                                  class="form-control" name="aboutInfo" id="abt" aria-describedby="emailHelp" ></textarea>
                                                        <small id="abf" class="form-text text-muted">We'll show this on your profile.</small>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <button type="submit" value = "submit "class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                </form>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/user/profile.png" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        {{ request.user.username }}
                                                    </h4>
                                                    <p class="font-italic text-muted">
                                                        {% if request.user.email %} {{ request.user.email }} {% endif %}
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p>
                                                    This page is your private space.
                                                    <br />
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-facebook"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-twitter"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-instagram"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
