{% extends "layouts/supervisorbase.html" %}

{% block title %} Supervisor Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

   <!-- [ Main Content ] start -->
   <div class="container">
    <h1 class="mt-5">Supervisor Dashboard</h1>

    <div class="row mt-4">
        <div class="col-md-4">
            <h3>Pending Tasks</h3>
            <ul class="list-group">
                {% for task in tasks_pending %}
                    <li class="list-group-item">
                        <strong>{{ task.title }}</strong><br>
                        Assigned to: {{ task.assigned_personnel.username }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Tasks In Progress</h3>
            <ul class="list-group">
                {% for task in tasks_in_progress %}
                    <li class="list-group-item">
                        <strong>{{ task.title }}</strong><br>
                        Assigned to: {{ task.assigned_personnel.username }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Completed Tasks</h3>
            <ul class="list-group">
                {% for task in tasks_completed %}
                    <li class="list-group-item">
                        <strong>{{ task.title }}</strong><br>
                        Assigned to: {{ task.assigned_personnel.username }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
